/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/fundo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.tracos {
  width: 30px;
  display: flex;
  margin-top: 45%;
  margin-left: 90%;
  
}

.menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-content: center;
  gap: 110px;
}

.menu h2 {
  display: grid;
  place-items: center;
}

.menu > .Produtos {
  color: #FF0000;
}

.perfil {
  width: 100px;
  display: flex;
  gap: 110px;
  margin-top: 25%;
  margin-left: -20%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latinha {

}

.Frase {
  color: #FFF;
  margin-left: 70%;
}

